@font-face {
  font-family: summer;
  src: url('./img/Summer_in_December.otf');
}

.main_add {
  background-image: url(./img/cat.jpg);
  background-size: 89vh;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  height: auto;
}

.main {
  background-image: url(./img/pets.jpg);
  background-size: 89vh;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  height: 80vh;
}

.formulaire {
  margin-top: 10vh;
}

.card_img {
  width: auto!important;
  margin: 0 auto 0 auto;
}

.card-content {
  height: 170px;
  overflow: overlay;
  background-color: lightgrey;
}

.footer {
  margin-top: 15px;
  width: 100vw;
}

.liquid_input {
  opacity: 0.7;
}

.navTitle {
  font-size: 2em;
  font-family: summer;
  letter-spacing: 0.5em;
  margin-left: 15px;
}

.titre {
  font-family: summer;
  letter-spacing: 1em;
  text-align: center;
}

.titre2 {
  font-family: summer;
}

.card_title {
  overflow: hidden!important;
}

.white {
  color: white
}

.grey {
  color: slategrey;
}
